* {
  box-sizing: border-box;
}
.hero {
  width: 20%;
}

body {
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-color: #ffffff;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  font-size: 80 px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
  font-size: 29px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: #404146;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  font-size: 23px;
  color: white;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: #e2e2e2;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #fff;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: absolute;
  width: 50%;
}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f4f4f4;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.footer-logo {
  font-size: 32px;
  float: left;
  color: #404146;
}

.footer-list {
  float: right;
  list-style: none;
}

.footer-list li {
  padding-bottom: 20px;
  list-style: none;
}
.contents-item {
  margin: 10px;
}

.contents-item p {
  font-size: 24px;
  margin-top: 30px;
}
.contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  margin-top: 100px;
  text-align: center;
}
.contents h3 {
  text-align: center;
}
.section-title {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.container-form {
  background-color: #f4f4f4;
}

.footer-container {
  background-color: #7c7d82;
}

a {
  color: #f2f2f2;
}

div.container > footer.header,
.footer {
  background-color: #7c7d82 !important;
}

.contents-item {
  width: 500px;
  position: relative;
}

.slide {
  width: 100%;
  display: none;
}

.popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background-color: white;
  padding: 20px;
  z-index: 1000;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
  display: none;
}
